.header {
  padding-left: 2rem; /* px-48 */
  padding-right: 2rem; /* px-48 */
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  transition: transform 0.3s ease, padding 0.3s ease;
}

.header-scrolled {
  padding-left: 2rem; /* px-36 */
  padding-right: 2rem; /* px-36 */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transform: translateY(0); /* Optional: add some vertical movement */
}

@media (min-width: 1068px) {
  .header {
    padding-left: 10rem; /* px-48 for medium and up screens */
    padding-right: 10rem;
  }

  .header-scrolled {
    padding-left: 8rem; /* px-36 for medium and up screens */
    padding-right: 8rem;
  }
}

ul.checklist {
  list-style: none; /* Remove default bullets */
  padding-left: 0; /* Add some padding to the left */
}

ul.checklist li::before {
  content: '✔'; /* Check mark character */
  color: #1f1f1f; /* Green color for the check mark */
  margin-right: 0.5em; /* Space between check mark and text */
}

ul.checklist-heading {
  list-style: none; /* Remove default bullets */
  padding-left: 0; /* Add some padding to the left */
}

ul.checklist-heading li::before {
  content: '✔'; /* Check mark character */
  color: rgb(250, 180, 191); /* Green color for the check mark */
  margin-right: 0.4em; /* Space between check mark and text */
  font-size: 1.2rem;
}

.animated-card {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: #e63984;
  text-align: center;
  transition: color 0.4s;
}

.animated-card:hover {
  color: #202020;
}

.animated-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e63984; /* Color to fill on hover */
  z-index: 0;
  transition: transform 0.4s;
  transform: scaleY(0);
  transform-origin: bottom;
}

.animated-card:hover::before {
  transform: scaleY(1);
}

.animated-card span {
  position: relative;
  z-index: 1;
  display: block;
}

.animated-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: #ffedd5;
  text-align: center;
  transition: color 0.4s;
}

.animated-button:hover {
  color: #202020;
}

.animated-button::before {
  content: "";
  position: absolute;
  border-radius: 6px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e63984; /* Color to fill on hover */
  z-index: 0;
  transition: transform 0.4s;
  transform: scaleX(0);
  transform-origin: left;
}

.animated-button:hover::before {
  transform: scaleX(1);
}

.animated-button span {
  position: relative;
  z-index: 1;
  display: block;
}

.underline {
  text-decoration: underline;
}

.animated-button-orange {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: white;
  text-align: center;
  transition: color 0.4s;
}

.animated-button-orange:hover {
  color: white;
}

.animated-button-orange::before {
  content: "";
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111827; /* Color to fill on hover */
  z-index: 0;
  transition: transform 0.4s;
  transform: scaleX(0);
  transform-origin: left;
}

.animated-button-orange:hover::before {
  transform: scaleX(1);
}

.animated-button-orange span {
  position: relative;
  z-index: 1;
  display: block;
}

.scrollbar-hidden {
  overflow: auto;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
}
