
/* ProgressBar.css

.progress-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.step {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e0e0e0;
    color: #808080;
    position: relative;
    z-index: 1;
    transition: background-color 1.5s ease-in-out, width 1.5s ease-in-out;
}

.step.completed {
    background-color: #f97316;
    color: #111827;
}

.line {
    flex: 1;
    height: 0.25rem;
    background-color: #e0e0e0;
    position: relative;
    z-index: 0;
    transition: background-color 1s ease-in-out, width 1s ease-in-out;
}

.line.filled {
    background-color: #f97316;
} */

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1s ease-in-out, width 1s ease-in-out;
}

.step.completed {
    background-color: #FF9800;
}

.step.active {
    background-color: #FF9800;
}

.line {
    flex-grow: 1;
    height: 2px;
    background-color: #ccc;
    margin: 0 10px;
    transition: background-color 0.75s ease-in-out, width 0.75s ease-in-out;
}

.line.filled {
    background-color: #FF9800;
}

.substeps-container {
    display: flex;
    flex-grow: 1;
}

.line.substep {
    height: 2px;
    background-color: #ccc;
    margin: 0 5px;
    transition: background-color 0.75s ease-in-out, width 0.75s ease-in-out;
}

.line.substep.filled {
    background-color: #FF9800;
}
