.custom-orange-marker .pin {
    width: 28px;
    height: 28px;
    background-color: #ff6700;
    position: relative;
    border-radius: 60% 50% 60% 0;
    transform: rotate(-45deg);
    border: 1px solid #545454;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-left: 0px;
}

.custom-orange-marker .pin::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-orange-marker .pin-shadow {
    width: 15px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    left: 5px;
}
