.comment-wrapper {
    position: relative;
    overflow: hidden;
    height: 220px;
}

.comment {
    position: absolute;
}


@media (max-width: 640px) {
    .comment-wrapper {
        height: 320px;
    }
}

@media (max-width: 280px) {
    .comment-wrapper {
        height: 420px;
    }
}

@media (max-width: 280px) {
    .comment-wrapper {
        height: 480px;
    }
}
